pymatgen
matplotlib
pyvista
tqdm
fire
numpy
numpydoc
Sphinx
sphinx-argparse
sphinx-code-tabs
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxemoji
